#register {
    display: flex;
    flex-direction: column;
    width: 400px;
}

body {
    font-family: "arial";
}

.login_container {
    width: 300px;
    padding: 20px;
    background-color: #a6d4ff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#menu {
    width: 70px;
    height: 800px;
    margin: 0px;
    background-color: blue; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    align-items: center;
}

i {
    color: white;
    font-size: 30px;
}
